
alias tmux="env TERM=xterm-256color tmux"
alias tmux-new="tmux new-session -d -s $USER"
alias tmux-attach="tmux attach-session -t $USER"

alias myip="dig myip.opendns.com @208.67.222.222"

alias dps="docker ps"
alias dpsa="docker ps -a"
alias drm="docker rm"
alias drmi="docker rmi"
alias di="docker images"
alias db="docker build"
alias de="docker exec"
alias dl="docker logs"

alias gpull="git pull"
alias gpush="git push"
alias gd='git diff --color'
alias gc='git commit'
alias gco='git checkout'
alias gs='git status'

alias pubkey="more ~/.ssh/id_rsa.pub | pbcopy | echo '=> Public key copied to pasteboard.'"
alias +x="chmod +x"

alias cdef='echo -e "\033]6;1;bg;*;default\a"'

function ssh
	command ssh $argv
	echo -e "\033]6;1;bg;*;default\a"
end

function is_ssh
        [ -n "$SSH_CONNECTION" ]; or [ -n "$SSH_CLIENT" ]; or [ -n "$SSH_TTY" ]
end

function is_tmux
    [ -n "$TMUX" ]
end
